<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>test</title>
</head>
<body>
    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    <h2><a href="">My 2 post</a></h2>
	<h2><a href="">My 3 post</a></h2>
	<h2><a href="">My 4 post</a></h2>
	<h2><a href="">My 5 post</a></h2>
	<h2><a href="">My 6 post</a></h2>
	<h2><a href="">My 7 post</a></h2>
	
	<form action="/cgi-bin/form.py">
    	<input type="text" name="TEXT_2"> test<Br>
    	<p><b>test:</b><Br>

    	<p><b>test:</b><Br>
    	<input type="radio" name="investor" value="1"> test<Br>
		<input type="radio" name="investor" value="2"> test<Br>
		<input type="radio" name="investor" value="3"> test<Br>
    	
    	<p><b>test:</b><Br>
    	<input type="radio" name="investpoluch" value="1"> test<Br>
		<input type="radio" name="investpoluch" value="2"> test<Br>
		<input type="radio" name="investpoluch" value="3"> test<Br>
		        
        <p><b>test:</b><Br>
		<input type="checkbox" name="works1" value="1"> test<Br>
        <input type="checkbox" name="works2" value="1"> test<Br>
        <input type="checkbox" name="works3" value="1"> test<Br>
        
        <input type="text" name="TEXT_1"> test<Br>
        <input type="submit">
        <input type="reset">
        
		</div>
    </form>
</body>
</html>